@import '../fonts.scss';

.Modal {
    position: absolute;
    margin-top: 10%;
    margin-left: 22%;
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    background-color: whitesmoke;
    outline: none;
    //border: 1px solid gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
    color:#202020;
    font-family: 'Vollkorn', serif;
  }


  .border_horizontal {
      margin-top: 5%;
      border-top: 1px solid #1B1C1D;
      width: 76%;
      margin-left: 12%;
  }

  .border_v {
    margin-top: 5%;
    border-left: 1px solid #1B1C1D;
    height: 30px;
    // width: 76%;
    margin-left: 50%;
}

  .project_title{
      margin-top: 5%;
      margin-bottom: 5%;
      font-family: 'Vollkorn', serif
  }

.gallery {
  width: 76%;
  margin-left: 12%;
}

.fonts {
  font-family: 'Vollkorn', serif;
}

.mouseOn {
  width: 100px;
  height: 100px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.close_button {
  border: 1px solid #1B1C1D;
  width: 44px;
  padding-left: 9px;
  border-radius: 4px;
}

.modal_design {
  border-top: 1px solid #1B1C1D;
  margin-bottom: 5%;
}

@media (max-width: 580px){
  .Modal {
    position: absolute;
    margin-top: 10%;
    margin-left: 10%;
    width: 75%;
    max-height: 100vh;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    background-color: whitesmoke;
    outline: none;
    //border: 1px solid gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
    color:#202020;
    font-family: 'Vollkorn', serif;
    overflow-y: auto;
  }

  // .modal-guts {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   padding: 20px 50px 20px 20px;
  //   overflow: auto;
    
  // }
  
}

@media (max-width: 1024px) {
  .gallery {
    width: 90%;
    margin: 0 auto;
  }
  
  .Modal {
    position: absolute;
    margin-top: 10%;
    margin-left: 10%;
    width: 75%;
    // height: 85%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    background-color: whitesmoke;
    outline: none;
    //border: 1px solid gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
    color:#202020;
    font-family: 'Vollkorn', serif;
  }
}