@import './fonts.scss';

.landingPage {
  text-align: center;
  padding-bottom: 10px;
}
.intro {
  background-color: #1B1C1D;
  padding-top: 20%;
  padding-bottom: 20%;
  color: white;
  font-family: 'Vollkorn', serif;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  outline: none;
}

.footer{
  color: white;
  background-color: #1B1C1D;
  margin-top: 5%;
  padding: 5%;
  font-family: 'Vollkorn', serif;
}

.fonts {
  font-family: 'Vollkorn', serif;
}

.mouse_nav {
  font-family: 'Vollkorn', serif;
  color: #404040;
}