@import './fonts.css';

.landingPage {
  text-align: center;
  /* background-color: #25221e; */
  /* padding-top: 10px; */
  padding-bottom: 10px;
}
.intro {
  background-color: crimson;
  padding-top: 20%;
  padding-bottom: 20%;
  /* width: 50%; */
  color: white;
  font-family: 'Vollkorn', serif;
  /* background-image: url('./assets/mountains2.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
}
/* .top{
  display: flex;
  flex-direction: row;
} */
.image {
  width: 35%;
  height: 35%;
  border-radius: 50%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 7%;
}
.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.projects{
  display: flex;
  padding-left: 2%;
  padding-right: 2%;
  /* align-items: flex-end; */
}
.project-title {
  text-align: left;
  padding-left: 2%;
}
.flexing {
  display: flex;
  align-content: flex-end;
}
.pro-description {
  width: 50%;
  border-width: 3px;
  border-color: blue;
  border-style: solid;
}
.bullet-points {
  width: 50%;
  border-width: 3px;
  border-color: crimson;
  border-style: solid;
  text-align: left;
  /* align-self: flex-end; */
}

