@import './fonts.scss';

.landingPage {
  text-align: center;
  padding-bottom: 10px;
}
.intro {
  background-color: #1B1C1D;
  padding-top: 20%;
  padding-bottom: 20%;
  color: white;
  font-family: 'Vollkorn', serif;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  outline: none;
}
.projects{
  display: flex;
  padding-left: 2%;
  padding-right: 2%;
}
.project-title {
  text-align: left;
  padding-left: 2%;
}
.flexing {
  display: flex;
  align-content: flex-end;
}
.pro-description {
  width: 50%;
  border-width: 3px;
  border-color: blue;
  border-style: solid;
}
.bullet-points {
  width: 50%;
  border-width: 3px;
  border-color: crimson;
  border-style: solid;
  text-align: left;
}

.footer{
  color: white;
  background-color: #1B1C1D;
  margin-top: 5%;
  padding: 5%
}